<style>
	a[data-role] {
		cursor: pointer;
	}
	a[data-role="deleteBtn"] {
		color: red;
	}
</style>

{{! Last Checked for Updates: 2/7/2021 }}
<script async src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/countable/3.0.1/Countable.min.js" integrity="sha512-ssL9tXYOtj4MLNTZnD6+lcAos+GHlnyCO0x7ctQXqzrmO48pFfNc/qAo+jIckEFGUHYr0RCtbVMbxiGgJCvmxA==" crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha256-usTqAE1ywvdMtksWzdeWzD75MsfJN0h0U7y2NtZL3N0=" crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.9.9/libphonenumber-js.min.js" integrity="sha512-PS5x7BEjgwyfOUh6GbqIzwMYC7K1K27Cly2P1WFWrbbaocb9ulKu+x+ddQUuK0d7j0/w3SemcU5b6S8uh8r51A==" crossorigin="anonymous"></script>
<script async src="/js/modals/ConfirmActionModal{{#eq env 'production'}}.min{{/eq}}.js"></script>
<script async src="/js/modals/CreateEditDeviceModal{{#eq env 'production'}}.min{{/eq}}.js"></script>
<script async src="/js/widgets/Component.DeviceListWidget{{#eq env 'production'}}.min{{/eq}}.js"></script>
<script src="/js/devices{{#eq env 'production'}}.min{{/eq}}.js"></script>

<div class="container">
	<div class="clearfix">
		<h1 class="pull-left">Devices</h1>

		<div class="h1 pull-right">
			<button class="btn btn-primary" id="createDeviceBtn">Create Device</button>
		</div>
	</div>

	<div class="table-responsive" id="deviceListWidget">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Phone Number</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
