<link rel="stylesheet" href="/css/index{{#eq env 'production'}}.min{{/eq}}.css">

<script async src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}&libraries=places"></script>
{{! Last Checked for Updates: 5/4/2021 }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data-10-year-range.js" integrity="sha512-Zy6GmgJpPiVngCfEP3NZcAH5CdPuHg2RtF1w3jUln677wOsQPmZEVbdI9x6SraTrawfNFeE98YfFA/jAcJ1kVg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous"></script>

<script>
	const TIMEZONE = '{{TIMEZONE}}';
</script>
<script src="/js/modals/ConfirmActionModal{{#eq env 'production'}}.min{{/eq}}.js"></script>
<script src="/js/widgets/Component.CheckInsListWidget{{#eq env 'production'}}.min{{/eq}}.js"></script>
<script src="/js/index{{#eq env 'production'}}.min{{/eq}}.js"></script>

<div class="container">
	<h1>Check-Ins</h1>
	<div id="map-canvas"></div>

	<div id="checkInsListWidget">
		<div class="row" style="padding: 1rem 0;">
			<div class="col-md-3">
				<input type="text" class="form-control" data-role="daterangepicker">
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="hidden-print"></th>
						<th class="nowrap">Source</th>
						<th>Message</th>
						<th>Position</th>
						<th>Timestamp</th>
						<th class="hidden-print"></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>

		<div>
			<button class="no-padding hidden-print btn-link" id="selectAllBtn">Select All</button>

			<button class="no-padding hidden-print btn-link" id="deselectAllBtn">Deselect All</button>
		</div>

		<div>
			<button class="btn btn-danger hidden-print" id="bulkDeleteBtn" disabled>Delete</button>
		</div>
	</div>
</div>
