<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	<link rel="shortcut icon" href="/favicon.png">

	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
	<link rel="dns-prefetch" href="https://maps.googleapis.com">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script async src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
	<script async src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />


	<style>
		#copyright {
			font-size: 11px;
			font-style: italic;
			color: #838383;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Spot Tracker</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="menu">
				<ul class="nav navbar-nav">
					{{#if signedIn}}<li{{#eq page 'Home'}} class="active"{{/eq}}><a href="/">Dashboard</a></li>{{/if}}
					{{#if signedIn}}<li{{#eq page 'Devices'}} class="active"{{/eq}}><a href="/devices">Devices</a></li>{{/if}}
				</ul>

				<ul class="nav navbar-nav navbar-right">
				{{#unless signedIn}}
					<li{{#eq page 'Login'}} class="active"{{/eq}}><a href="/login">Login</a></li>
				{{/unless}}
				{{#if signedIn}}
					<li><a href="/logout">Logout</a></li>
				{{/if}}
				</ul>
			</div>
		</div>
	</nav>

	{{{body}}}

	<div class="container">
		<footer>
			<div id="copyright" class="pull-right">
				Copyright &copy; 2020 John Nahlen
			</div>
		</footer>
	</div>
</body>
</html>
