html, body {
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 500px;
    width: 100%;
}

/* https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-hide-urlhref-when-printing-bootstrap-website/ */
/* https://stackoverflow.com/questions/7301989/need-to-remove-href-values-when-printing-in-chrome */

@media print {
    a[href]:after {
        content: none !important;
    }
}

#checkInsListWidget {
    margin-top: 20px;
}

a[data-role='viewOnMapBtn'] {
    cursor: pointer;
}

a[data-role='deleteBtn'] {
    cursor: pointer;
    color: #ff0000;
}

.no-padding {
    padding: 0;
}

.nowrap {
    white-space: nowrap;
    vertical-align: top;
}
